*{margin: 0 ;padding: 0;}
html{
    background-color: rgb(101, 92, 92);
}

body{
    width: 750px;
    height: 750px;
    margin: auto;
    background-color: aquamarine;
}

header{
    width: 750px;
    height: 250px;
    background-color: blueviolet;
}

nav{
    width: 750px;
    height: 50px;
    background-color: rgb(43, 214, 226);
}

main{
    width: 750px;
    height: 400px;
    background-color: rgb(226, 119, 43);
}

footer{
    width: 750px;
    height: 50px;
    background-color: rgb(226, 43, 186);
}
.home{
    background-image: url("Imagenes\notas2.jpg");
}

#nombre{
    width: 500px;
    height: 250px;
    float: left;
    background-color: rgb(220, 61, 61);
    text-align: center;
    
}

#registro{
    width: 250px;
    height: 83.3px;
    float: left;
    background-color: rgb(89, 188, 246);
}

#inscripciones{
    width: 250px;
    height: 83.3px;
    float: left;
    background-color: rgb(122, 165, 42);
}

#categorias{
    width: 250px;
    height: 83.3px;
    float: left;
    background-color: rgb(84, 82, 156);
}

#left{
    width: 150px;
    height: 400px;
    float: left;
    background-color: rgb(156, 82, 140);
}

#center{
    width: 450px;
    height: 400px;
    float: left;
    background-color: aqua;
  

    animation: slide 24s infinite alternate ease-in-out;
}

#center ul{
    display: flex;
    padding: 0;
}

#center li{
    list-style: none;
    width: 100%;
}

#center img{
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    21% {margin-left: -100%;}
    40% {margin-left: -100%;}

    41% {margin-left: -200%;}
    60% {margin-left: -200%;}

    61% {margin-left: -300%;}
    80% {margin-left: -300%;}

    81% {margin-left: -400%;}
    100% {margin-left: -400%;}

}

#right{
    width: 150px;
    height: 400px;
    float: left;
    background-color: rgb(210, 78, 17);
}

#nosotros{
    width: 187.5px;
    height: 50px;
    float: left;
    background-color: rgb(104, 43, 226);
}

#información{
    width: 187.5px;
    height: 50px;
    float: left;
    background-color: rgb(111, 11, 26);
}

#sitio{
    width: 187.5px;
    height: 50px;
    float: left;
    background-color: rgb(237, 218, 15);
}

#administradores{
    width: 187.5px;
    height: 50px;
    float: left;
    background-color: rgb(83, 5, 67);
}
h1{
    text-align: center;
}